{
  "presets": [
    [
      "./node_modules/babel-preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ]
  ]
}
