/build/cvue.main.js
/build/vue-ssr-client-manifest.json
/build/vue-ssr-server-bundle.json
/docs/
/lib/
/bin/
/.shards/
*.dwarf
*.sublime-project
*.sublime-workspace
crystal-vue.sublime-project
crystal-vue.sublime-workspace

# Libraries don't need dependency lock
/shard.lock
yarn.lock

# node / yarn-related files
/node_modules/


