/src/vue-scripts/build/
/src/vue-scripts/server-build/
/src/svelte-scripts/__sapper__/
/src/svelte-scripts/node_modules/
/src/svelte-scripts/node_modules/@sapper
/lib/
/bin/
/.shards/
*.dwarf
*.sublime-project
*.sublime-workspace

# Libraries don't need dependency lock
/shard.lock
package-lock.json

# node / yarn-related files
/node_modules/


