# Security: Disable automatic execution of install scripts to prevent supply chain attacks
# If you need to run install scripts for a specific trusted package, use:
# npm install <package> --ignore-scripts=false
ignore-scripts=true
